target
node_modules
.env
.env.dev
.env.prod
infra/martin/data/

# Temporary binaries and scripts
/duckdb
*.zip
*.csv
*.json
/scripts/
/scripts/*.py
/scripts/bin/
/scripts/seed_db/
/test_env/

# Scratch data files
scratch/*.geojson
scratch/*.geojson.state
scratch/*.sql